
.movie-grid-item-detail {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.poster-videos-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.movie-grid-item-detail-music-video {
    pointer-events: auto;
}

.movie-grid-item-detail-trailer-video {
    pointer-events: auto;
}

.inactive {
    display: none;
    z-index: -1;
    visibility: hidden;
}

.movie-grid-item-detail-image {
    pointer-events: auto;
    cursor: pointer;
}

.opaque-background {
    background-color: #000;
}

.movie-grid-item-detail-title {
    font-size: 3rem;
    font-weight: bold;
}
